In [ ]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)

print(quicksort([3,6,8,10,1,2,1]))

[1, 1, 2, 3, 6, 8, 10]

In [ ]:
x = 3
print(x, type(x))

3 <class 'int'>

In [ ]:
x += 1
print(x)
x *= 2
print(x)

4
8

In [ ]:
y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

In [ ]:
print(x + 1)
print(x - 1)
print(x * 2)
print(x ** 2)

9
7
16
64

In [ ]:
t, f = True, False
print(type(t))

<class 'bool'>

In [ ]:
print(t and f)
print(t or f)
print(not t)
print(t != f)

False
True
False
True