<a href="https://colab.research.google.com/github/yaswanththagulu/python/blob/main/Yaswanth(20221BCA0309).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
L = [2,4,7]
iterator = iter(L)
t = tuple(iterator)
t

(2, 4, 7)

In [2]:
m = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}
for key in m:
  print(key, m[key])

Jan 1
Feb 2
Mar 3
Apr 4
May 5
Jun 6
Jul 7
Aug 8
Sep 9
Oct 10
Nov 11
Dec 12

In [3]:
l=[3,4,6]
[2*i for i in l]

[6, 8, 12]

In [4]:
l=[7,9,4]
for i in l:
  x=2*i
  print(x)

14
18
8

In [5]:
[2*i for i in l]

[14, 18, 8]

In [6]:
L = [('India', 'Amsterdam'), ('ameria', 'Paris'), ('london', 'Washington DC')]
dict(iter(L))

{'India': 'Amsterdam', 'ameria': 'Paris', 'london': 'Washington DC'}

In [8]:
line_list=['presidency university\n','pyhton department \n','dept of bca \n','\n']
stripped_list = [line.strip() for line in line_list]
print(stripped_list)

['presidency university', 'pyhton department', 'dept of bca', '']

In [9]:
seq1 = 'abc'
seq2 = (7,5,6)
[(x, y) for x in seq1 for y in seq2]

[('a', 7),
 ('a', 5),
 ('a', 6),
 ('b', 7),
 ('b', 5),
 ('b', 6),
 ('c', 7),
 ('c', 5),
 ('c', 6)]

In [10]:
def generate_ints(N):
  for i in range(N):
    yield i


gen=generate_ints(6)
next(gen)

0

In [12]:
next(gen)

2

In [13]:
next(gen)

3

In [14]:
def counter(maximum):
    i = 0
    while i < maximum:
        val = (yield i)
        # If value provided, change counter
        if val is not None:
            i = val
        else:
            i += 1



it = counter(20)
next(it)

0

In [15]:
next(it)

1

In [16]:
it.send(8)

8

In [27]:
next(it)

StopIteration: ignored

In [30]:
def upper(s):
  return s.upper()

list(map(upper, ['yaswanth', 'presidency']))

['YASWANTH', 'PRESIDENCY']

In [31]:
[upper(s) for s in ['sentence', 'fragment']]

['SENTENCE', 'FRAGMENT']

In [32]:
def is_even(x):
  return (x % 2) == 0
list(filter(is_even, range(20)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [34]:
def is_even(x):
  return (x % 2) == 0
list(filter(is_even, range(30)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [35]:
for item in enumerate(['A', 'B', 'C']):
  print(item)

(0, 'A')
(1, 'B')
(2, 'C')

In [36]:
for item in enumerate(['X', 'Y', 'Z']):
  print(item)

(0, 'X')
(1, 'Y')
(2, 'Z')

In [37]:
import random
rand_list = random.sample(range(20000), 9)
rand_list

[12270, 5720, 7464, 12129, 12803, 19339, 2857, 15358, 6248]

In [38]:
sorted(rand_list)

[2857, 5720, 6248, 7464, 12129, 12270, 12803, 15358, 19339]

In [ ]:
sorted(rand_list, reverse=True)

In [39]:
zip(['x','y','z'], (2,4,6,))

In [40]:
from functools import partial


def power(a, b):
	return a**b


# partial functions
pow2 = partial(power, b=2)
pow4 = partial(power, b=4)
power_of_5 = partial(power, 5)

print(power(5, 3))
print(pow2(5))
print(pow4(3))
print(power_of_5(6))

print('Function used in partial function pow2 :', pow2.func)
print('Default keywords for pow2 :', pow2.keywords)
print('Default arguments for power_of_5 :', power_of_5.args)

125
25
81
15625
Function used in partial function pow2 : <function power at 0x7a0a80303760>
Default keywords for pow2 : {'b': 2}
Default arguments for power_of_5 : (5,)

In [41]:
from functools import partialmethod

class Demo:
	def __init__(self):
		self.color = 'black'

	def _color(self, type):
		self.color = type

	set_red = partialmethod(_color, type='red')
	set_blue = partialmethod(_color, type='blue')
	set_green = partialmethod(_color, type='green')


obj = Demo()
print(obj.color)

obj.set_blue()
print(obj.color)

obj.set_red()
print(obj.color)

obj.set_green()
print(obj.color)

black
blue
red
green

In [43]:
from functools import cmp_to_key

def cmp_fun(a, b):
	if a[-1] > b[-1]:
		return 1
	elif a[-1] < b[-1]:
		return -1
	else:
		return 0

list1 = ['X', 'Y', 'R']
l = sorted(list1, key = cmp_to_key(cmp_fun))
print('sorted list :', l)

sorted list : ['R', 'X', 'Y']

In [44]:
from functools import reduce
list1 = [4, 8, 5, 4, 7, 6]
sum_of_list1 = reduce(lambda a, b:a + b, list1)

list2 = ["abc", "xyz", "def"]
max_of_list2 = reduce(lambda a, b:a if a>b else b, list2)

print('Sum of list1 :', sum_of_list1)
print('Maximum of list2 :', max_of_list2)

Sum of list1 : 34
Maximum of list2 : xyz

In [45]:
from functools import total_ordering

@total_ordering
class N:
	def __init__(self, value):
		self.value = value
	def __eq__(self, other):
		return self.value == other.value

	def __lt__(self, other):
		return self.value > other.value


print('8 > 2 :', N(8)>N(2))
print('4 < 1 :', N(4)<N(1))
print('4 <= 7 :', N(4)<= N(7))
print('9 >= 10 :', N(9)>= N(10))
print('10 == 10 :', N(10)== N(10))

8 > 2 : False
4 < 1 : True
4 <= 7 : False
9 >= 10 : True
10 == 10 : True

In [46]:
from itertools import count

for number in count(start=1, step=2):
	if number > 40:
		break
	print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39

In [47]:
import itertools
for i in itertools.count(5, 5):
	if i == 35:
		break
	else:
		print(i, end=" ")

5 10 15 20 25 30

In [ ]:
 iteimportrtools

count = 0

for i in itertools.cycle('XY'):
	if count > 8:
		break
	else:
		print(i, end=" ")
		count += 1

X Y X Y X Y X Y X

In [48]:
import itertools

l = ['BCA', 'MCA', 'EEE']

iterators = itertools.cycle(l)

for i in range(8):

	print(next(iterators), end=" ")

BCA MCA EEE BCA MCA EEE BCA MCA

In [49]:
import itertools

print("Printing the numbers repeatedly : ")
print(list(itertools.repeat(25, 9)))

Printing the numbers repeatedly :
[25, 25, 25, 25, 25, 25, 25, 25, 25]

In [50]:
from itertools import product

print("The cartesian product using repeat:")
print(list(product([1, 2], repeat=2)))
print()

print("The cartesian product of the containers:")
print(list(product(['BCA', 'CSE', 'EEE'], '2')))
print()

print("The cartesian product of the containers:")
print(list(product('AB', [4, 6])))

The cartesian product using repeat:
[(1, 1), (1, 2), (2, 1), (2, 2)]

The cartesian product of the containers:
[('BCA', '2'), ('CSE', '2'), ('EEE', '2')]

The cartesian product of the containers:
[('A', 4), ('A', 6), ('B', 4), ('B', 6)]

In [51]:
from itertools import permutations

print("All the permutations of the given list is:")
print(list(permutations([3, 'Computer'], 2)))
print()

print("All the permutations of the given string is:")
print(list(permutations('XY')))
print()

print("All the permutations of the given container is:")
print(list(permutations(range(6), 2)))

All the permutations of the given list is:
[(3, 'Computer'), ('Computer', 3)]

All the permutations of the given string is:
[('X', 'Y'), ('Y', 'X')]

All the permutations of the given container is:
[(0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (1, 0), (1, 2), (1, 3), (1, 4), (1, 5), (2, 0), (2, 1), (2, 3), (2, 4), (2, 5), (3, 0), (3, 1), (3, 2), (3, 4), (3, 5), (4, 0), (4, 1), (4, 2), (4, 3), (4, 5), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4)]

In [52]:
from itertools import combinations

print ("All the combination of list in sorted order(without replacement) is:")
print(list(combinations(['A', 2], 2)))
print()

print ("All the combination of string in sorted order(without replacement) is:")
print(list(combinations('AB', 2)))
print()

print ("All the combination of list in sorted order(without replacement) is:")
print(list(combinations(range(2), 1)))

All the combination of list in sorted order(without replacement) is:
[('A', 2)]

All the combination of string in sorted order(without replacement) is:
[('A', 'B')]

All the combination of list in sorted order(without replacement) is:
[(0,), (1,)]

In [53]:
from itertools import combinations_with_replacement

print("All the combination of string in sorted order(with replacement) is:")
print(list(combinations_with_replacement("AB", 3)))
print()

print("All the combination of list in sorted order(with replacement) is:")
print(list(combinations_with_replacement([1, 3], 3)))
print()

print("All the combination of container in sorted order(with replacement) is:")
print(list(combinations_with_replacement(range(3), 1)))

All the combination of string in sorted order(with replacement) is:
[('A', 'A', 'A'), ('A', 'A', 'B'), ('A', 'B', 'B'), ('B', 'B', 'B')]

All the combination of list in sorted order(with replacement) is:
[(1, 1, 1), (1, 1, 3), (1, 3, 3), (3, 3, 3)]

All the combination of container in sorted order(with replacement) is:
[(0,), (1,), (2,)]

In [54]:
import itertools
import operator

li1 = [2,3,4,6]

print("The sum after each iteration is : ", end="")
print(list(itertools.accumulate(li1)))


print("The product after each iteration is : ", end="")
print(list(itertools.accumulate(li1, operator.mul)))


print("The sum after each iteration is : ", end="")
print(list(itertools.accumulate(li1)))

The sum after each iteration is : [2, 5, 9, 15]
The product after each iteration is : [2, 6, 24, 144]
The sum after each iteration is : [2, 5, 9, 15]

In [55]:
import itertools
li1 = [1, 3,5,7]

li2 = [1,3,4,6]

li3 = [10,1,13,15]

print("All values in mentioned chain are : ", end="")
print(list(itertools.chain(li1, li2, li3)))

All values in mentioned chain are : [1, 3, 5, 7, 1, 3, 4, 6, 10, 1, 13, 15]

In [56]:
import itertools


li1 = [1,3,4,5,]

li2 = [1,4,5,6]

li3 = [8,6,7,8]

li4 = [li1, li2, li3]

print ("All values in mentioned chain are : ", end ="")
print (list(itertools.chain.from_iterable(li4)))

All values in mentioned chain are : [1, 3, 4, 5, 1, 4, 5, 6, 8, 6, 7, 8]

In [57]:
import itertools

print("The compressed values in string are : ", end="")
print(list(itertools.compress('GEEKSFORGEEKS', [1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0])))

The compressed values in string are : ['G', 'F', 'G']

In [58]:
import itertools

li = [4,5,6,8,9]
print ("The values after condition returns false : ", end ="")
print (list(itertools.dropwhile(lambda x : x % 2 == 0, li)))

The values after condition returns false : [5, 6, 8, 9]

In [59]:
import itertools
li = [2, 4, 5, 7, 8]
print ("The values after condition returns false : ", end ="")
print (list(itertools.dropwhile(lambda x : x % 2 == 0, li)))

The values after condition returns false : [5, 7, 8]

In [60]:
import itertools

li = [2, 4, 5, 7, 8]

print ("The values that return false to function are : ", end ="")
print (list(itertools.filterfalse(lambda x : x % 2 == 0, li)))

The values that return false to function are : [5, 7]

In [61]:
import itertools
li = [2,4,6,7,8,9,10,30]
print ("The sliced list values are : ", end ="")
print (list(itertools.islice(li, 1, 6, 2)))

The sliced list values are : [4, 7, 9]

In [62]:
import itertools

li = [ (1, 10, 5), (8, 4, 1), (5, 5, 9), (11, 37, 1) ]

print ("The values acc. to function are : ", end ="")
print (list(itertools.starmap(min, li)))

The values acc. to function are : [1, 1, 5, 1]

In [63]:
import itertools

li = [2, 4, 6, 7, 8, 10, 20, 30]
print ("The list values till 1st false value are : ", end ="")
print (list(itertools.takewhile(lambda x : x % 2 == 0, li )))

The list values till 1st false value are : [2, 4, 6]

In [64]:
import itertools

li = [2, 4, 6, 7, 8, 10, 20]

iti = iter(li)

it = itertools.tee(iti, 3)

print("The iterators are : ")
for i in range(0, 3):
	print(list(it[i]))

The iterators are :
[2, 4, 6, 7, 8, 10, 20]
[2, 4, 6, 7, 8, 10, 20]
[2, 4, 6, 7, 8, 10, 20]

In [65]:
import itertools

print("The combined values of iterables is : ")
print(*(itertools.zip_longest('Peiec', 'rsdny', fillvalue='_')))

The combined values of iterables is :
('P', 'r') ('e', 's') ('i', 'd') ('e', 'n') ('c', 'y')